name: Deploy on VM

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Build backend JAR
        run: |
          cd course-service
          chmod +x mvnw || true
          ./mvnw clean install -U -DskipTests -B

      - name: Docker Compose up
        run: |
          docker compose -f docker-compose.yml down || true
          docker compose -f docker-compose.yml up -d --build
